{% extends "polls/base.html" %}

{% block title %}Polls home page{% endblock %}

{% block content %}
  {% if latest_questions_list %}
    <ul>
      {% for question in latest_questions_list %}
        <li><a href="{% url 'polls:details' question.id %}">{{ question.question_text }} -- {{ question.votes }} -- {{ question.pub_date }}</a></li>
      {% endfor %}
    </ul>
    <form action="{% url 'polls:new' %}" method="GET">
      {% csrf_token %}
      <input type="submit" value="Create new poll">
    </form>
  {% else %}
    <p>No question available</p>
  {% endif %}
{% endblock %}
